<div class="album">  
  <div class="container">
    <h1 class="my-4"><%= link_to 'Welcome to The Movies', root_path %></h1>
    <%= form_tag movie_search_path(@movies), method: :get do %>
      <%= text_field_tag :q, nil, placeholder: 'Search movies' %>
      <%= button_tag 'Go', type: :submit, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="container">
    <div class="row">
      <% @movies.each do |movie| %>
        <div class="card">
          <% image_tag = "http://image.tmdb.org/t/p/w300#{movie.poster_path}" %>
          <img src="<%= image_tag %>" alt="<%= movie.original_title %>" />
          <div class="card-block">
            <p class="card-text text-center">
              <%= link_to movie.original_title, movie_path(movie) %><br>
              Release Date: <%= Date.parse(movie.release_date).strftime("%B %d, %Y") %>
            </p>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
